*{
	margin:0px;
	padding:0px;
}

body{
	background-color:#00803C;
}

#leftSide{
	position: relative;
	float: left;
}

#presetList {
	
}

#presetDiv{
	text-align: center;
	background-color: #56A0D3;
	height: 400px;
	overflow: scroll;
	
}



#userButtons button{
	width:100px;
	display: block;
	text-align: center;
}

#trackButtons {
	padding-top: 50px;
}

#trackButtons button{
	text-align: center;
	width: 100px;
	display: block;
}

#main{
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	height:1000px;
}

#topBar{
	position:absolute;
	width:500px;
	height:100px;
	margin:none;
	background-color:black;
}

#audio{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:250px;
	text-align:center;

}

#screens{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:70px;
	text-align:center;

}

#tuner{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:190px;
	text-align:center;

}

#proj3{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:310px;
	text-align:center;

}

#lights{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:10px;
	text-align:center;

}

#proj{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:130px;
	text-align:center;
}

#specialFunctions{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:380px;
	text-align:center;
}

#systemReset{
	position:absolute;
	background-color:white;
	height:50px;
	width:50px;
	top:25px;
	left:440px;
	text-align:center;
}

#contentContainer{
	position:relative;
	border:1px solid black;
	top:110px;
	width:500px;

}
